<div class="container">
    <footer>
        <div class="footer-link">

        </div>
        <div class="footer-info">
            <p>© Copyright 2016 Design by Mr.Lin</p>
        </div>
    </footer>
</div>