<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../../public/plugin/bootstrap/css/bootstrap.css'/>
    <link rel='stylesheet' href='../../public/plugin/font-awesome/css/font-awesome.min.css'/>
    <link rel='stylesheet' href='/plugin/bootstrap/css/bootstrap.css'/>
    <link rel='stylesheet' href='/plugin/font-awesome/css/font-awesome.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/plugin/jquery/dist/jquery.min.js"></script>

    <style type="text/css">
        .navbar-header h1 {
            font-family: HVD Edding;
        }
    </style>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <h1>Ordinary Way</h1>
        </div>
    </div>
</nav>