body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: whitesmoke;
    background-image: url(../img/background.jpg);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}

@font-face {
    font-family: 'HVD Edding';
    src: url('../font/HVD_Edding.eot');
    src: url('../font/HVD_Edding.eot') format('embedded-opentype'),
    url('../font/HVD_Edding.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

ol, ul {
    list-style: none;
}